ul.slides_container {
    list-style: none;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    bottom: 0;
    left: 0;
    margin: auto 0%;
    width: 70%;
    height: 1080px;
    overflow: scroll;
}

li.slide_element {
    height: 100%;
    width: auto;
}

h1.title {
    color: #696969;
    background: rgba(64, 64, 64, 0.5);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    margin-top: 5%;
}