ul.slides_container {
    list-style: none;
    position: fixed;
    margin-top: 0%;
    padding-top: 0%;
    margin: 0% 0%;
    padding-left: 0%;
    width: 70%;
    min-height: 1080px;
    max-height: 70%;
    overflow: scroll;
    top: 13.7363%;
    left: 33px;
}

li.slide_element {
    padding: 0% 0%;
    height: 1080p;
    width: auto;
}

div.bg_image div img {
    box-shadow: 3px 5px 101px 8px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 3px 5px 101px 8px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 3px 5px 101px 8px rgba(0, 0, 0, 0.67);
}

.bg_image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 1080px;
}

h1.title {
    color: #2c2c2c;
    background: rgba(73, 73, 73, 0.5);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    /* from https://cssgenerator.org/border-radius-css-generator.html  */
    border-radius: 0px 0px 16px 16px;
    -webkit-border-radius: 0px 0px 16px 16px;
    -moz-border-radius: 0px 0px 16px 16px;
    /*  from https://cssgenerator.org/box-shadow-css-generator.html */
    box-shadow: 4px 10px 50px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 10px 50px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 10px 50px -1px rgba(0, 0, 0, 0.75);
}

#de5g {
    position: relative;
    left: 7%;
    width: fit-content;
}

#de5g p {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

#z4ve {
    position: relative;
    width: fit-content;
    right: -66%;
    top: -26%;
}

#z4ve p {
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
}

#trsid {
    position: relative;
    width: fit-content;
    top: 3.44444%;
    right: -2.09814%;
}

#trsid img {
    width: 350px;
    position: relative;
    margin: 0% 0%;
}

#trsid p {
    position: relative;
    font-size: 1.7em;
    margin: 0% 0%;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
}

#zfdg {
    position: relative;
    width: fit-content;
    right: -32%;
    top: -1%;
}

#zfdg p {
    width: 150%;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

#zfdg img {
    width: 150%;
    position: relative;
    margin: 0% 0%;
}

#zfdf {
    position: relative;
    width: fit-content;
    right: -63%;
    top: -75%;
}

#zfdf p {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

#sdgb {
    position: relative;
    width: fit-content;
    right: -9.57421%;
    top: 31.1296%;
}

#sdgb img {
    position: relative;
}

#sdgb p {
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
}